// orange-red: d83919
// deep blue: 04244d
// rust: 8d3029
$color: #d83919;
$black: #444;
$white: rgba($color, 0.02);

$medium-width: 480px; // not mobile/narrow

body {
  background: $white;
  color: $black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 1.4;
  margin-left: 15px;
  margin-right: 15px;
}

.wrapper {
  margin: 0px auto;
  max-width: 700px;
}

h1 {
  color: $color;
  font-size: 2em;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 0.5em;
}

.avatar {
  border-radius: 25%;
  display: none;
}

@media screen and (min-width: $medium-width) {
  .intro {
    h1, p {
      float: right;
      width: calc(100% - 220px);
    }
  }

  .avatar {
    display: inline;
    margin-top: 2em;
  }
}

a {
  color: $color;
}

footer {
  border-top: 1px dotted $color;
  margin-top: 3em;
  padding: 1em 0;
  text-align: center;
}
