nav.elsw
  h2 Elsewhere

  p I'm also active elsewhere on the internet.

  ul
    li
      == link_to "Twitter", "http://twitter.com/pbyrne", class: "elsw-link elsw-twitter"
    li
      == link_to "GitHub", "https://github.com/pbyrne", class: "elsw-link elsw-github"
    li
      == link_to "RubyGems", "https://rubygems.org/profiles/pbyrne", class: "elsw-link elsw-rubygems"
    li
      == link_to "Facebook", "http://facebook.com/patrickjbyrne", class: "elsw-link elsw-facebook"
    li
      == link_to "LinkedIn", "http://www.linkedin.com/in/patrickjbyrne", class: "elsw-link elsw-linkedin"

