// typography
// vertical rhythm: base size of 16px; rhythm of 24px (1.5)
$font: 16px;
$base: 24px;

// global, sectioning styles
html {
  // background: #444;
  // color: #f6f6f6;
}

body {
  background: #f6f6f6;
  color: #444;
  font-family: Helvetica, sans-serif;
  font-size: $font;
  line-height: $base;
  margin: 0px auto;
  max-width: 40%;
  min-width: 320px;
}

footer {
  text-align: center;
}


h1 {
  font-size: $font * 2;
  line-height: $base * 2;
}

h2 {
  font-size: $base;
  line-height: $base;
  margin: $base 0;
}

h3 {
  font-size: $font * 1.25;
  line-height: $base;
  margin: $base 0;
}
