<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width/" >
    <title>{{ page.title }} | Patrick Byrne</title>
    {% stylesheet screen %}
    <link rel="icon" type="image/gif" href="{% asset_path icons/patrickbyrne.net.gif %}" />
  </head>
  <body>
    <!-- TODO turn back on once I find a sensible way to add them invisibly for most users -->
    <!-- <div id="skip"> -->
    <!--   <p><a href="#primary">Skip to navigation</a></p> -->
    <!--   <p><a href="#content">Skip to content</a></p> -->
    <!-- </div> -->

    <header>
      <h1>
        <a href="/" class="s-subtle">patrickbyrne.net</a>
      </h1>
    </header>

    {% include nav.markdown %}

    <section id="content">
      {{ content }}
    </section>

    {% include footer.markdown %}
  </body>
</html>

