nav id="primary" class="nav-primary"
  ul
    li == link_to "home", "/", class: "s-subtle"
    li == link_to "projects", "/projects/", class: "s-subtle"
    li == link_to "about", "/about/", class: "s-subtle"
