---
title: Contact
---

<p>
Want to get in touch? The best way is probably <%= link_to "my Twitter account", "https://twitter.com/pbyrne" %>.
I'm experimenting with <%= link_to "ask.fm", "https://ask.fm/pjbyrne" %>, too.
</p>

<%= partial "elsewhere" %>
