---
layout: layout.liquid
title: Hello!
---

<section class="intro">
  <h1>Hello!</h1>

  <p>
  As you’ve probably guessed, I’m Patrick Byrne.
  👋
  </p>

  <img src="{{ "images/avatar-400.jpg" }}"
       alt="Patrick Byrne headshot"
       class="avatar"
       >
</section>

<p>
I belong to <a href="https://twitter.com/aca902">Angela</a> and <a href="https://twitter.com/henbyrne">Hen</a>.
I live in Roseville, MN.
I work remotely for <a href="https://dribbble.com/">Dribbble</a> as Director of Engineering, with over twenty years of experience as a techincal leader, web developer, sysadmin, and many other roles.
</p>

<nav class="elsewhere">
  <p>
  You can find me elsewhere on the internet.
  </p>

  <ul>
    <li><a href="https://twitter.com/pbyrne">Twitter</a></li>
    <li><a href="https://github.com/pbyrne">GitHub</a></li>
    <li><a href="https://dribbble.com/pbyrne">Dribbble</a></li>
    <li><a href="https://codepen.io/pbyrne/">CodePen</a></li>
    <li><a href="https://www.goodreads.com/user/show/5928666-patrick-byrne">Goodreads</a></li>
    <li><a href="https://rubygems.org/profiles/pbyrne">RubyGems</a></li>
    <li><a href="https://vimeo.com/pbyrne">Vimeo</a></li>
  </ul>
</nav>
