---
title: Developer. Husband. Great Dude.
---

<aside>
  <p>
  Hello, I'm Patrick Byrne, web developer and all-around great guy.
  I write the occasional web app and usually share my more interesting bits for others to use.
  </p>

  <p>
  Take a look below for some of my recent work and where to find me elsewhere on the internet, or
  <%= link_to "read more about me", "/about.html" %>.
  </p>
</aside>

<%= partial "recent-work" %>

<%= partial "elsewhere" %>
